
.logo{
    position: fixed;
    top: 0;
    width: 10000px;
    background-image: url(first_bg.jpg);
    color: black;
    padding-bottom: 2px;
    font-size: 30px;
    font-style: italic;
}
.input{
   position: fixed;
   right: 0px;
   top: 0px;
   border-radius: 6px;
   font-size: 25px;
}
#mst{
    margin-top: 11px;
    padding-bottom: 600px;
    background-image: url(logo.jpg);
    background-size: cover;
  background-position: center;
  align-self: center;
  border: 5px solid;
}
.text2{
    font-style: italic;
}
.text{
    background-image: url(first_bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top:0px;
}

.cursiv{
    font-style: italic;
}
.komanda{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.kart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sm{
    display: flex;
    flex-basis: 25%;
}
body{
    margin-right: 15%;
    margin-left: 15%;
}
   img:hover {
    transform: scale(1.2);
   }
   img {
    transition: 1s;
   }


.input2 {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.hero {
    font-size: 30px;
    font-style: italic;
}

span {
    font-style: italic;
}
.overlay {
    display: flex;
    justify-content: center;
}


.func {
    font-size: 30px;
background-image: url("color.jpg");
}


.promo__interactive-title {
    font-size: 30px;
    padding: auto;
}

.promotion__timer {
    display: flex;
    flex-wrap: wrap;
    background-color: burlywood;
    font-size: 30px;
    font-style: italic;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;background-color:rgba(0,0,0,.5)}.modal__dialog{max-width:500px;margin:40px auto}.modal__content{position:relative;width:100%;padding:40px;background-color:#fff;border:1px solid rgba(0,0,0,.2);border-radius:4px;max-height:80vh;overflow-y:auto}.modal__close{position:absolute;top:8px;right:14px;font-size:30px;color:#000;opacity:.5;font-weight:700;border:none;background-color:transparent;cursor:pointer}.modal__title{text-align:center;font-size:22px;text-transform:uppercase}.modal__input{display:block;margin:20px auto 20px auto;width:280px;height:50px;background:#fff;box-shadow:0 4px 15px rgba(0,0,0,.2);border:none;font-size:18px;text-align:center;padding:0 20px;outline:0}.modal .btn{display:block;width:280px;margin:0 auto}